apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: node-api-monitor
  namespace: monitoring
  labels:
    release: prometheus
spec:
  namespaceSelector:
    matchNames:
      - default 
  selector:
    matchLabels:
      app: node-api
  endpoints:
  - port: web
    path: /metrics
    interval: 15s
    honorLabels: true